<!-- <h1>Hello ji</h1> -->
<div >
  <app-notification-board></app-notification-board>
  <!-- <h1>Lazy Loading in Angular</h1> -->
  <ul class="nav" style="display: flex;margin: 20px;">

    <li class="nav-item" style="padding: 5px;">

      <a class="nav-link" routerLink="/">Home</a>
    </li>

    <li class="nav-item" style="padding: 5px;">

      <a class="nav-link" routerLink="/about">About</a>

    </li>
    <li class="nav-item"style="padding: 5px;">
      <a class="nav-link" routerLink="/contact">contact</a>
    </li>
    <li class="nav-item" style="padding: 5px;">
      <a class="nav-link" routerLink="/product">Product</a>
    </li>
    <li class="nav-item" style="padding: 5px;">
      <a class="nav-link" routerLink="/rxjs">Rxjs</a>
    </li>
  </ul>

  <router-outlet></router-outlet>

</div>
